% rebase("_page.html", title="Nova transakcija", racun=racun)

<script>
  var forms = {
    'prihodek-button': 'prihodek-form',
    'odhodek-button': 'odhodek-form',
    'investicija-button': 'investicija-form',
  }

  function select(form) {
    for (const button in forms) {
      var buttonElement = document.getElementById(button)
      var formElement = document.getElementById(forms[button])

      var activeButtonClasses = ['bg-gray-100', 'text-gray-700']
      var inactiveFormClasses = ['hidden']

      if (form == forms[button]) {
        buttonElement.classList.add(...activeButtonClasses)
        formElement.classList.remove(...inactiveFormClasses)
      } else {
        buttonElement.classList.remove(...activeButtonClasses)
        formElement.classList.add(...inactiveFormClasses)
      }
    }
  }
</script>

<!-- Container -->
<div class="container mx-auto px-4 sm:px-6 lg:px-8">
  <!-- Title -->

  <div class="text-center">
    % include("components/_heading.html", heading="Ustvari transakcijo")
  </div>

  <!-- Form picker -->
  <div class="text-center mt-5 mb-10">
    <span class="inline-flex mx-auto shadow-sm rounded-md">
      <button
        id="prihodek-button"
        onclick="select('prihodek-form')"
        type="button"
        class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue bg-gray-100 text-gray-700 transition ease-in-out duration-150"
      >
        Prihodek
      </button>
      <button
        id="odhodek-button"
        onclick="select('odhodek-form')"
        type="button"
        class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150"
      >
        Odhodek
      </button>
      <button
        id="investicija-button"
        onclick="select('investicija-form')"
        type="button"
        class="-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150"
      >
        Investicija
      </button>
    </span>
  </div>

  <!-- Forms -->

  <div class="">
    <!-- Prihodek -->
    <form
      id="prihodek-form"
      action="/api/racun/{{racun.ime}}/transakcija/prihodek"
      method="POST"
    >
      <div class="shadow overflow-hidden rounded-md mx-auto md:max-w-lg my-10">
        <!--  -->
        <div class="px-4 py-5 bg-white sm:p-6">
          <div class="grid grid-cols-6 gap-6">
            <!-- Form items -->
            <!--  -->
            <div class="col-span-6 sm:col-span-4">
              <label
                for="description"
                class="block text-sm font-medium leading-5 text-gray-700"
                >Opis</label
              >
              <input
                id="description"
                name="opis"
                required
                placeholder="Žepnina"
                class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
              />
            </div>

            <!--  -->

            <div class="col-span-6 sm:col-span-2">
              <label
                for="amount"
                class="block text-sm font-medium leading-5 text-gray-700"
                >Znesek</label
              >
              <div class="mt-1 relative rounded-md shadow-sm">
                <div
                  class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
                >
                  <svg
                    class="h-5 w-5 text-gray-400"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      d="M14.121 15.536c-1.171 1.952-3.07 1.952-4.242 0-1.172-1.953-1.172-5.119 0-7.072 1.171-1.952 3.07-1.952 4.242 0M8 10.5h4m-4 3h4m9-1.5a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                </div>
                <input
                  id="amount"
                  type="number"
                  name="znesek"
                  required
                  class="form-input block w-full pl-10 sm:text-sm sm:leading-5"
                  placeholder="10"
                />
              </div>
            </div>

            <!-- Mesecni prihodek -->
            <div class="col-span-6">
              <label class="flex items-center">
                <input
                  type="checkbox"
                  name="mesecni_prihodek"
                  class="form-checkbox"
                />
                <span class="ml-2 text-sm font-medium leading-5 text-gray-700"
                  >Mesečni prihodek</span
                >
              </label>
            </div>

            <!-- Razpored po kuvertah -->

            <div class="col-span-6">
              <label class="text-sm font-medium leading-5 text-gray-700"
                >Razpored po kuvertah</label
              >
              % for kuverta in kuverte:
              <div class="my-2 flex rounded-md shadow-sm">
                <span
                  class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm"
                >
                  {{kuverta.ime.capitalize()}}
                </span>
                <input
                  type="number"
                  name="kuverta_{{kuverta.ime}}"
                  class="form-input flex-1 block w-full px-3 py-2 rounded-none rounded-r-md sm:text-sm sm:leading-5"
                  placeholder="10€"
                />
              </div>
              % end
            </div>
          </div>
        </div>

        <!--  -->

        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <a
            class="inline-block py-2 mr-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-gray-400 shadow-sm hover:bg-gray-300 focus:outline-none active:bg-gray-500 transition duration-150 ease-in-out"
            href="/racun/{{racun.ime}}"
          >
            Nazaj
          </a>
          <button
            type="submit"
            class="py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-pink-400 shadow-sm hover:bg-pink-300 focus:outline-none focus:shadow-outline-blue active:bg-pink-500 transition duration-150 ease-in-out"
          >
            Ustvari prihodek
          </button>
        </div>

        <!--  -->
      </div>
    </form>

    <!-- Odhodek -->
    <form
      id="odhodek-form"
      class="hidden"
      action="/api/racun/{{racun.ime}}/transakcija/odhodek"
      method="POST"
    >
      <div class="shadow overflow-hidden rounded-md mx-auto md:max-w-lg my-10">
        <!--  -->
        <div class="px-4 py-5 bg-white sm:p-6">
          <div class="grid grid-cols-6 gap-6">
            <!-- Form items -->

            <!--  -->
            <div class="col-span-6 sm:col-span-4">
              <label
                for="description"
                class="block text-sm font-medium leading-5 text-gray-700"
                >Opis</label
              >
              <input
                id="description"
                name="opis"
                placeholder="Sirova štručka"
                required
                class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
              />
            </div>

            <!--  -->

            <div class="col-span-6 sm:col-span-2">
              <label
                for="amount"
                class="block text-sm font-medium leading-5 text-gray-700"
                >Znesek</label
              >
              <div class="mt-1 relative rounded-md shadow-sm">
                <div
                  class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
                >
                  <svg
                    class="h-5 w-5 text-gray-400"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      d="M14.121 15.536c-1.171 1.952-3.07 1.952-4.242 0-1.172-1.953-1.172-5.119 0-7.072 1.171-1.952 3.07-1.952 4.242 0M8 10.5h4m-4 3h4m9-1.5a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                </div>
                <input
                  id="amount"
                  type="number"
                  name="znesek"
                  required
                  class="form-input block w-full pl-10 sm:text-sm sm:leading-5"
                  placeholder="10"
                />
              </div>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label
                for="envelope"
                class="block text-sm font-medium leading-5 text-gray-700"
                >Kuverta</label
              >
              <div class="mt-1 relative rounded-md shadow-sm">
                <div
                  class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
                >
                  <svg
                    class="h-5 w-5 text-gray-400"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                    ></path>
                  </svg>
                </div>

                <select
                  id="envelope"
                  name="kuverta"
                  class="mt-1 pl-10 block form-select w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                >
                  <option value="{{None}}">Splošen odhodek</option>
                  % for kuverta in racun.kuverte:
                  <option value="{{kuverta.ime}}"
                    >{{kuverta.ime.capitalize()}}</option
                  >
                  % end
                </select>
              </div>
            </div>

            <!--  -->
          </div>
        </div>
        <!--  -->

        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <a
            class="inline-block py-2 mr-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-gray-400 shadow-sm hover:bg-gray-300 focus:outline-none active:bg-gray-500 transition duration-150 ease-in-out"
            href="/racun/{{racun.ime}}"
          >
            Nazaj
          </a>
          <button
            type="submit"
            class="py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-pink-400 shadow-sm hover:bg-pink-300 focus:outline-none focus:shadow-outline-blue active:bg-pink-500 transition duration-150 ease-in-out"
          >
            Ustvari odhodek
          </button>
        </div>

        <!--  -->
      </div>
    </form>

    <!-- Investicija -->
    <form
      id="investicija-form"
      class="hidden"
      action="/api/racun/{{racun.ime}}/transakcija/investicija"
      method="POST"
    >
      <div class="shadow overflow-hidden rounded-md mx-auto md:max-w-lg my-10">
        <div class="px-4 py-5 bg-white sm:p-6">
          <div class="grid grid-cols-6 gap-6">
            <!-- Form items -->
            <!--  -->
            <div class="col-span-6 sm:col-span-4">
              <label
                for="description"
                class="block text-sm font-medium leading-5 text-gray-700"
                >Opis</label
              >
              <input
                id="description"
                name="opis"
                required
                placeholder="Žepnina"
                class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
              />
            </div>

            <!--  -->

            <div class="col-span-6 sm:col-span-2">
              <label
                for="amount"
                class="block text-sm font-medium leading-5 text-gray-700"
                >Znesek</label
              >
              <div class="mt-1 relative rounded-md shadow-sm">
                <div
                  class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
                >
                  <svg
                    class="h-5 w-5 text-gray-400"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      d="M14.121 15.536c-1.171 1.952-3.07 1.952-4.242 0-1.172-1.953-1.172-5.119 0-7.072 1.171-1.952 3.07-1.952 4.242 0M8 10.5h4m-4 3h4m9-1.5a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                </div>
                <input
                  id="amount"
                  type="number"
                  name="znesek"
                  required
                  class="form-input block w-full pl-10 sm:text-sm sm:leading-5"
                  placeholder="10"
                />
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!--  -->

        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <a
            class="inline-block py-2 mr-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-gray-400 shadow-sm hover:bg-gray-300 focus:outline-none active:bg-gray-500 transition duration-150 ease-in-out"
            href="/racun/{{racun.ime}}"
          >
            Nazaj
          </a>
          <button
            type="submit"
            class="py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-pink-400 shadow-sm hover:bg-pink-300 focus:outline-none focus:shadow-outline-blue active:bg-pink-500 transition duration-150 ease-in-out"
          >
            Ustvari investicijo
          </button>
        </div>

        <!--  -->
      </div>
    </form>

    <!--  -->
  </div>

  <!--  -->
</div>
